*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
    --left_height:calc(90vh - 3rem);
}

body{
    background-image: url(wp10361794.png);
    background-size: cover;
}

header{
    height: 10vh;
    margin-bottom: 2.5rem;
}

h1{
    font-family: 'great vibes';
    display: inline;
    float: right;
    margin-right: 6rem;
    margin-top: 1rem;
    font-size: 4.5rem;
    color: #2d9e82;
}

.mainapp{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: calc(100%-1rem);
    height: var(--left_height-);
    margin: 0.5rem;
    margin-top: 0px !important;
}

.mainapp > div{
    border: 1px solid #4b3e3267;
    background-color: #FFEBD8;
    height: calc(var(--left_height)/5);
    color: #024736;
    padding: 0.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 0.9rem;
    box-sizing: border-box;
}

button{
    border: 1px solid #DC8686;
    background-color:#FFEBD8;
    box-sizing: border-box;
    color: #d32545;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 0.8rem;
    font-family: 'pacifico';
    width: 9%;
    height: 100%;
}

form{
    float: right;
    width:91%;
    height:100%;
    padding:none;
}

input{
    background-color: #FFEBD8;
    height: 1.65rem;
    font-weight: 400;
    font-size: 1.25rem;
    padding-left: 0.3rem;
    border: 0px;
    width: 100%;
    color: black;
    font-family: 'poppins';
}

.border_bottom{
    border-bottom: solid 1px black;
}

div > input{
    display: inline;
    box-sizing: border-box;
}

textarea:focus, input:focus{
    outline: none;
}

.overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.active{
    display:block !important;
}


.journal{
    display: none;
    z-index: 5;
    position: absolute;
    height: 80%;
    top: 5%;
    width: 50%;
    background-color: aliceblue;
}

.cont{
    display: flex;
    justify-content: center;
}

.weeknames{
    height: 2.2rem;
    width: calc(100%-1rem);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
    margin: 0.5rem;
    margin-bottom: 0px;
    align-items: center;
    column-gap: 0.5rem;
    margin-bottom: 0.1rem;
}

.weeknames > h2{
    text-align: center;
    background-color: #DC8686;
    font-size: 1.2rem;
    font-family: 'roboto';
    letter-spacing: 2px;
}

.journal{
    background-color: white;
}

textarea{
    font-size: 1.3rem;
    padding: 2rem;
    box-sizing: border-box;
    font-family: 'poppins';
    width: 100%;
    resize: none;
}

.tasks_textarea{
    height: 40%;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px black;
}

.journal_textarea{
    height: 60%;
}